*/__pycache__
__pycache__
*.so

hosts_*.json

# hide direnv stuff
.direnv/
# TODO figure out how to properly solve the issue with these target directories showing up
networking/target/
networking/topology/target/

build/
*.xcuserstate