[project]
name = "exo"
version = "0.2.0"
description = "Exo"
readme = "README.md"
requires-python = ">=3.13"
dependencies = []

[dependency-groups]
dev = [
    "poethepoet>=0.35.0",
    "pytest>=8.4.0",
    "ruff>=0.11.13",
]

[tool.uv.workspace]
members = [
    "master", "worker", "shared",
]

[tool.poe.tasks]
fmt = { shell = "ruff format .", help = "Format the code" }
test = { shell = "pytest master worker shared", help = "Run the tests" }