[project]
name = "exo"
version = "0.2.0"
description = "Exo"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "exo-master",
    "exo-worker",
]

# dependencies only required for development
[dependency-groups]
dev = [
    "basedpyright>=1.29.4",
    "poethepoet>=0.35.0",
    "pytest>=8.4.0",
    "ruff>=0.11.13",
]

# dependencies only required for Apple Silicon
[project.optional-dependencies]
darwin = [
    "mlx",
]

# task runner configuration
[tool.poe.tasks]
fmt = { shell = "ruff format master worker shared engines/*", help = "Format the code" }
lint = { shell = "ruff check --fix master worker shared engines/*", help = "Run the linter" }
test = { shell = "pytest master worker shared engines/*", help = "Run the tests" }
check = { shell = "basedpyright --project master worker shared engines/*", help = "Run type checker" }
sync = { shell = "uv sync --all-packages", help = "Sync the dependencies" }

###
# workspace configuration
###

[tool.uv.workspace]
members = [
    "master", "worker", "shared", "engines/*",
]

[tool.uv.sources]
exo-shared = { workspace = true }
exo-master = { workspace = true }
exo-worker = { workspace = true }
exo-engine-mlx = { workspace = true }

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.hatch.build]
clean = true

[tool.hatch.build.targets.wheel]
packages = []
only-include = ["pyproject.toml", "README.md"]

[tool.hatch.build.targets.sdist]
packages = []
only-include = ["pyproject.toml", "README.md"]

###
# type-checker configuration
###

[tool.basedpyright] 
typeCheckingMode = "strict"
failOnWarnings = true 

reportAny = "error"
reportUnknownVariableType = "error"
reportUnknownParameterType = "error"
reportMissingParameterType = "error"
reportMissingTypeStubs = "error"
reportInvalidCast = "error"
reportUnnecessaryCast = "error"
reportUnnecessaryTypeIgnoreComment = "error"

include = ["master", "worker", "shared", "engines/*"]
pythonVersion  = "3.13"
pythonPlatform = "Darwin"

###
# uv configuration
###

# supported platforms for this project
[tool.uv]
environments = [
    "sys_platform == 'darwin'",
    "sys_platform == 'linux'",
]

###
# ruff configuration
###

[tool.ruff.lint]
extend-select = ["I", "N", "B", "A", "PIE", "SIM"]