[project]
name = "exo"
version = "0.2.0"
description = "Exo"
readme = "README.md"
requires-python = ">=3.13"
dependencies = []

[dependency-groups]
dev = [
    "basedpyright>=1.29.4",
    "poethepoet>=0.35.0",
    "pytest>=8.4.0",
    "ruff>=0.11.13",
]

[tool.uv.workspace]
members = [
    "master", "worker", "shared", "engines/*",
]

[tool.basedpyright] 
typeCheckingMode = "strict"
failOnWarnings = true 

reportAny = "error"
reportUnknownVariableType = "error"
reportUnknownParameterType = "error"
reportMissingParameterType = "error"
reportMissingTypeStubs = "error"
reportInvalidCast = "error"
reportUnnecessaryCast = "error"
reportUnnecessaryTypeIgnoreComment = "error"

include = ["master", "worker", "shared", "engines/*"]
pythonVersion  = "3.13"
pythonPlatform = "Darwin"

[tool.poe.tasks]
fmt = { shell = "ruff format .", help = "Format the code" }
test = { shell = "pytest master worker shared", help = "Run the tests" }
check = { shell = "basedpyright --project .", help = "Run type checker" }