grpcio==1.64.1
grpcio-tools==1.64.1
huggingface-hub==0.23.4
mlx==0.15.1
mlx-lm==0.14.3
numpy==2.0.0
protobuf==5.27.1
requests==2.32.3
safetensors==0.4.3
tiktoken==0.7.0
tinygrad @ git+https://github.com/tinygrad/tinygrad.git@a9f5a764dc640a5e5cbaaeeee21df7c8ca37da38
tokenizers==0.19.1
tqdm==4.66.4
transformers==4.41.2
uuid==1.30

