<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUFeedURL</key>
	<string>https://assets.exolabs.net/appcast.xml</string>
	<key>EXOBuildTag</key>
	<string>$(EXO_BUILD_TAG)</string>
	<key>EXOBuildCommit</key>
	<string>$(EXO_BUILD_COMMIT)</string>
	<key>EXOBugReportPresignedUrlEndpoint</key>
	<string>$(EXO_BUG_REPORT_PRESIGNED_URL_ENDPOINT)</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>EXO needs local network access to discover and connect to other devices in your cluster for distributed AI inference.</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_p2p._tcp</string>
		<string>_p2p._udp</string>
		<string>_libp2p._udp</string>
	</array>
</dict>
</plist>
