<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUFeedURL</key>
	<string>https://assets.exolabs.net/appcast.xml</string>
	<key>EXOBuildTag</key>
	<string>$(EXO_BUILD_TAG)</string>
	<key>EXOBuildCommit</key>
	<string>$(EXO_BUILD_COMMIT)</string>
</dict>
</plist>
