name: Continuous Delivery

on:
  push:
    branches:
      - main

# Keep builds in order so :latest is always the actual latest
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}

jobs:
  docker:
    name: Docker / Build and Push
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Project
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Build and Push Docker (nvidia)
        uses: docker/build-push-action@v6
        with:
          context: .
          file: Dockerfile-nvidia
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/exo:latest-nvidia
          cache-from: type=gha
          cache-to: type=gha,mode=max
